<%- include('partials/header') %>

<form action="/signup" method="POST">
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required placeholder="Enter your email" />
  <div class="email error"></div>

  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    required
    placeholder="Enter your password"
  />
  <div class="password error"></div>

  <button type="submit">Sign Up</button>
</form>

<%- include('partials/footer') %>
