<%- include('partials/header') %>

<form>
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required placeholder="Enter your email" />
  <div class="email error"></div>

  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    required
    placeholder="Enter your password"
  />
  <div class="password error"></div>

  <button type="submit">Sign Up</button>
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    console.log(`The email is ${email} and password is ${password}`);
  });
</script>

<%- include('partials/footer') %>
